#container {
    display: grid;
    height: 960px;
    width: 960px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: lightblue;
}

.grid-cell {
    background-color: black;
}

